name: deploiement sur Hugging Face

on:
  push:
    branches: [ "main" ]     
  workflow_dispatch:         

jobs:
  Deploiement-HF-Space:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true         
      
      # Push vers le Space → déclenche build & déploiement côté HF
      - name: Push to HF Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git push https://HF_USERNAME:${HF_TOKEN}@huggingface.co/spaces/sma-nas/Futurisys HEAD:main
