name: CI
on:
  push:
    branches: ["**"]
    tags: ["v*.*.*"]
  pull_request:
jobs:
  INSTALL-BUILD-TEST-COVERAGE:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Installation dependances
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install build
      - name: Build package (sdist + wheel)
        run: python -m build
      - name: Install Build
        run: |
          pip install dist/*.whl || pip install dist/*.tar.gz
      - name: Tests
        run: |
          pytest --cov=app --cov-report=xml --cov-report=term-missing
      - name: Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          path: coverage.xml
      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*
